$dark-blue:#113163;
$orange:#ffa734;
$gray:#f7f7f8;
$font:15px;
$font-sm:12px;
$font-size:13px;
$p-top:10px;
$font-size-sm:12px;
$font-size-h1:13.5px;
$font-size-h1-sm:11px;
$font-size-headset:16px;
$font-size-h1-xxl-section1:41px;
$font-size-h1-md-sm-section1:30px;
$font-size-h1-section1:25px;
$font-size-xxl-p:20px;
$font-size-xl-p:20px;
$font-size-lg-p:17px;
$font-size-md-sm-p:12px;